# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [2]:
#Your code here
c.execute('''SELECT firstName, lastName FROM employees
                      JOIN offices
                      using(officeCode)
                      WHERE city = 'Boston'
                           ''').fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [7]:
#Your code here
c.execute('''SELECT count(employeeNumber) FROM employees
                                          JOIN offices
                                          using(officeCode)
                                          GROUP BY officeCode''').fetchall()

[(6,), (2,), (2,), (5,), (2,), (4,), (2,)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary
# Which are top 5 selling products?
# How much money has been made from that product?
# Which state spent the most money?

In [6]:
# Your code here
c.execute('''SELECT productCode, productName FROM products
                                            JOIN orderdetails
                                            using(productCode)
                                            ORDER BY quantityOrdered DESC
                                            LIMIT 5''').fetchall()

[('S12_4675', '1969 Dodge Charger'),
 ('S18_3278', '1969 Dodge Super Bee'),
 ('S700_2466', 'America West Airlines B757-200'),
 ('S12_3990', '1970 Plymouth Hemi Cuda'),
 ('S700_3167', 'F/A 18 Hornet 1/72')]

In [7]:
# Your code here
c.execute('''SELECT SUM(priceEach) FROM orderdetails
                                   JOIN products
                                   using(productCode)
                                   ORDER BY quantityOrdered DESC
                                   LIMIT 5''').fetchall()

[(271945.41999999987,)]

In [19]:
# Your code here
c.execute('''SELECT max(amount) AS total, state FROM customers
                                                      LEFT JOIN payments
                                                      ORDER BY total
                                                      LIMIT 10''').fetchall()

[('9977.85', '')]

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!